.banner{
    display: flex;
    h2{
        margin-top: 45vh;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;
    }
    &__article{
        width: 30%;
        margin-left: 10%;
        display: inline-block;
        div{
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
        }
    }
    &__button{
        background-color: white;
        width: 150px;
        margin-top: 24px;
        padding-bottom: 27px;
        padding-top: 10px;
        padding-left: 35px;
        color: black;
        height: 10px;
        border: 1px solid black;
        transition: all 0.5s;
        &:hover{
            background-color: black;
            color: white;
        }
    }
    &__image{
        img{
            margin-top: 20px;
            float: right;
            padding-right: 10%;
        }
    }
}
.slide{
    margin-top: 18%;
}
.slides__flex{
    display: flex;
}
#slides_2, #slides_3, #slides_4{
    display: none;
}
