.subscribe{
    margin-top: 40px;
    margin-bottom: 24px;
    &__title{
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        margin-bottom: 30px;
    }
    &__input{
        text-align: left;
        width: 500px;
        margin: auto;
        border-bottom: 1px solid black; 
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 18px;
        input{
            border: 0;
            width: 350px;
        }
    }
}
.icons{
    width: 80%;
    margin: auto;
    display: flex;
    &__right{
        margin-left: 70%;
        img{
            margin-right: 10px;
        }
    }
}
.footer{
    &__grey{
        margin-top: 24px;
        display: flex;
        background: rgba(233, 233, 233, 0.79);
        padding-left: 108px;
    }
    li{
        margin-top: 15px;
    }
    &__column{
        width: 33vw;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 10px;
        img{
            margin-top: 200px;
        }
    }
    &__name{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
    }
}
.mobile-footer{
    display: none;
}
@media (max-width: 1045px){
    .icons{
        &__left{
            margin-left: 8vw;
            width: 51vw;
        }
        &__right{
            margin-left: 0;
        }
    }
    .banner h2{
        margin-top: 30vh;
    }
    .subscribe__input{
        text-align: left;
    } 
}
@media(max-width: 700px){
    .page-content{
        height: 80vh;
    }
    .footer{
        height: 20vh;
    }
    .footer__grey{
        display: none;
    }
    .subscribe{
        &__title{
            text-align: left;
            margin-left: 15px;
            margin-left: 10vw;
            width: 400px;
        }
        &__input{
            margin: 0;
            margin-left: 10vw;
            text-align: left;
        }    
    }
    input{
        width: 69%;
    }
    .icons{
        width: 100%;
        &__left{
            margin-left: 10vw;
        }
    }
    .mobile-footer{
        margin-left: 10vw;
    }
}
@media(max-width: 550px){
    .subscribe{
        &__title{
            text-align: left;
            margin-left: 2vw;
        }
        &__input{
            margin-left: 2vw;
            width: 275px;
        }
    }
    .icons__left{
        margin-left: 2vw;
        display: none;
        .instagaramm{
            display: block;
        }
    }
    .subscribe__input input{
        width: 146px;
    }
    .subscribe__input{
        width: 300px;
    }
    .mobile-footer{
        margin-left: 2vw;
        margin-top: 10px;
        display: block;
    }
    .icons{
        margin-left: 2vw;
    }
}
@media(max-width: 400px){
}