.group-list{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    background: #E9E9E9;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content{
    width: 80%;
    margin: auto;
    
}
.commodity{
    display: block;
}
.commodities{
    margin-top: 40px;
    .row{
        width: 88vw;
    }
    &__image{
        width: 80%;
        height: auto;
    }
    &__name{
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        width: 250px;
        margin-top: 10px;
    }
    &__price{
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 14px;
        margin-top: 6px;
    }
}
.commodity{
    margin: auto;
    margin-top: 20px;
}

@media(max-width: 1024px) and(min-width: 464px){
    .commodities{
        .row{
            width: 90vw;
        }
    }
    .commodities{
        &__name{
            font-size: 14px;
            width: 164px;
        }
        &__price{
            font-size: 14px;
        }
    }
}
@media(max-width: 463px){
    .commodities{
        &__name{
            font-size: 14px;
            width: 147px;
        }
        &__price{
            font-size: 14px;
        }
        img{
            width: 147px;
        }
    }
}