.log-in{
    h2{
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 20vh;
    }
    input{
        border: none;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 18px;
        color: #322F2F;
        border-bottom: 1px solid black;
        width: 300px;
        margin-bottom: 10px;
    }
    .submit{
        border: none;
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        width: 150px;
        color: white;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
    }
}
@media(max-width:400px){
    .log-in{
        h2{
            margin-left: 5%;
        }
        input{
            width: 90%;
            margin-left: 5%;
        }
        span{
            padding-left: 5%;
        }
    }
}